# Introduccion a las listas

        Para crear una lista, debemos asignar una secuencia de valores a una variable.

        Cada valor está separado por una coma y rodeado por corchetes ([]).

In [1]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

Ahora vamos a acceder a los elementos de la lista por indices.
De esta manera: nombre_variable+[numero_indice]

In [3]:
print('The first planet is -->', planets[0])
print('The second planet is -->', planets[1])
print('The third planet is -->', planets[2])

The first planet is --> Mercury
The second planet is --> Venus
The third planet is --> Earth

También podemos cambiar el valor de una posición de esa lista,
de esta manera

In [5]:
planets[3] = 'Planeta Rojo'
print('Marte es conocido tambien por: -->', planets[3])

Marte es conocido tambien por: --> Planeta Rojo

# Longitud de una lista

Ahora, para poder obtener el numero de elementos que existen en una lista, solo basta con poner la funcion (len)

In [9]:
number_of_planets = len(planets) # Creamos una nueva variable 
# para que le asignemos el dato que retornará la función.


print('Hay', number_of_planets, 'planets in the solar system.')

Hay 8 planets in the solar system.

# Agregar valores a listas

Lo bonito de Piton es que las listas son dinamicas, eso significa que podemos quitar y agregar elementos cuando nosotros queramos. Para agregar un nuevo elemento, usamos el metodo (.append(valor))

In [11]:
planets.append('Pluto')
number_of_planets = len(planets)
print('Actualmente hay', number_of_planets, 'planets in the solar system.')

Actualmente hay 10 planets in the solar system.

# Eliminar valores de una lista

Lo mismo pasa cuando lo eliminamos. Usamos la función (pop)

In [12]:
planets.pop()  # Goodbye, Pluto
number_of_planets = len(planets)
print('No, there are definitely', number_of_planets, 'planets in the solar system.')

No, there are definitely 9 planets in the solar system.

# Indices negativos

Los índices negativos comienzan al final de la lista y trabajan hacia atrás.

En el ejemplo siguiente, un índice de -1 devuelve el último elemento de una lista. Un índice de -2 retorna del penúltimo al último.

In [13]:
print('The last planet is', planets[-1])
print('The penultimate planet is', planets[-2])

The last planet is Pluto
The penultimate planet is Neptune

# Buscar un valor en una lista

                Para saber en qué parte de una lista se almacena un valor, utilizamos el método index() el cual busca el valor y devuelve el índice en donde se encuentra el elemento en la lista. Si no encuentra una coincidencia, devuelve un -1.

In [16]:
jupiter_index = planets.index('Jupiter')
print('Jupiter is the', jupiter_index + 1, 'planet from the sun')
# Agregamos el +1 por que el indice es 0

Jupiter is the 5 planet from the sun

# Trabajar con números en listas

Almacenar números en listas

            Para almacenar números con decimales en Python, utilizamos el tipo float. Para crear un float, introduzca el número con el decimal y asígnelo a una variable:

In [17]:
gravity_on_earth = 1.0
gravity_on_the_moon = 0.166

En el siguiente código creamos una lista que muestra las fuerzas gravitacionales de los ocho planetas del sistema solar, en G:

In [ ]:
gravity_on_planets = [0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]

En el siguiente ejemplo, puedes calcular el peso de un bus de dos pisos en diferentes planetas obteniendo el valor de la lista:

In [21]:
gravity_on_planets = [0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]
bus_weight = 12650 # in kilograms, on Earth

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('On Mercury, a double-decker bus weighs', bus_weight * gravity_on_planets[0], 'kg')

On Earth, a double-decker bus weighs 12650 kg
On Mercury, a double-decker bus weighs 4781.7 kg

min() y max () con listas

Python tiene funciones integradas para calcular los números más grandes y más pequeños de una lista. La función max() devuelve el número más grande y la función min() devuelve el más pequeño.

In [25]:
bus_weight = 12650 #Kg

print('On Earth, a double-decker bus weighs', str(bus_weight), 'kg')
print('The lightest a bus would be in the solar system is', bus_weight * min(gravity_on_planets), 'kg')
print('The heaviest a bus would be in the solar system is', bus_weight * max(gravity_on_planets), 'kg')

On Earth, a double-decker bus weighs 12650 kg
The lightest a bus would be in the solar system is 4781.7 kg
The heaviest a bus would be in the solar system is 29854.0 kg

# Manipular datos de lista

Slice list

Gracias a esta funcion podemos recuperar una parte de una lista. Esta función utiliza corchetes, pero en lugar de un solo elemento, tiene los índices inicial y final de los elementos que queremos recuperar. 

Cuando se utiliza slice, se crea una nueva lista que comienza en el índice inicial y termina con la indice que pusimos; -1. Esto quiere decir que no toma en cuenta el indice final que elegimos

La lista de planetas tiene ocho elementos. La Tierra es la tercera en la lista. Para obtener los planetas antes que la Tierra, use un slice para obtener elementos que comienzan en 0 y terminan en 2:

In [26]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets_before_earth = planets[0:2] # Nueva lista con los indices modificados
print(planets_before_earth)

['Mercury', 'Venus']

Para obtener todos los planetas después de la Tierra, comenzamos en el tercero y vamos al octavo:

In [27]:
planets_after_earth = planets[3:8]
print(planets_after_earth) 

# -------------------

# Podemos hacer lo mismo, pero SIN ESPECIFICAR el indice final que deseamos

planets_after_earth = planets[3:] # <- Aquí se entiende que tomará el indice original de la lista
print(planets_after_earth)

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

# Uniendo listas

            Para unir dos listas, utilice el operador (+) con dos listas para devolver una nueva lista.

In [28]:
amalthea_group = ['Metis', 'Adrastea', 'Amalthea', 'Thebe']
galilean_moons = ['Io', 'Europa', 'Ganymede', 'Callisto']

regular_satellite_moons = amalthea_group + galilean_moons
print('The regular satellite moons of Jupiter are', regular_satellite_moons)

The regular satellite moons of Jupiter are ['Metis', 'Adrastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']

# Ordenando listas

            Para ordenar una lista, utilizamos el método sort() de la lista. Python ordenará una lista de cadenas en orden alfabético y una lista de números en orden numérico:

In [29]:
regular_satellite_moons.sort()
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']

            Para ordenar una lista en forma inversa, llamamos al método .sort(reverse=True) de la lista:

In [30]:
regular_satellite_moons.sort(reverse=True)
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']